html,body {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

body {
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	line-height: 160%;
}

h1 {
	font-size: 2.5em;
	font-weight: 300;
}

#main-wrapper {
	text-align: left;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

.content-wrapper {
	width: 100%;
	max-width: 645px;
	float: left;
}

.sidebar {
	float: left;
	width: 100%;
	max-width: 230px;
	margin-left: 20px;
}